.clearfix::after{
    content: "";
    clear: both;
    display: inline-block;
}

.content {
    background: #FFE7F0;
    padding: 30px 0 15px 0;
}

.header {
    margin: 40px;
}

.left {
    margin-left: 15px;
    font-size: 13px;
}

.main-menu ul li {
    list-style: none;
    padding: 10px 0;
}

.main-menu ul li a {
    text-decoration: none;
    color: black;
}

.input {
    border: 1px solid #efabb4;
    border-radius: 5px;
    width: 200px;
}

.input1 {
    border: 1px solid #efabb4;
    border-radius: 5px;
    width: 130px;
    background: white;
    height: 35px;
    color: #dfa0a8;
}

.input2 {
    border: 1px solid #efabb4;
    border-radius: 5px;
    width: 100px;
    background: white;
}

.input3 {
    border: 1px solid #efabb4;
    border-radius: 5px;
    width: 50px;
    background: white;
}

.content1 {
    background: #FFCFE0;
}

.content1 th {
    padding: 15px 0;
}


.footer {
    padding: 400px 0 70px 200px;
    font-size: 12px;
}

.input5 {
    border: 1px solid #efabb4;
    border-radius: 5px;
    width: 130px;
    background: white;
    height: 30px;
    color: #d498a0;

}

.input4 {
    border: 1px solid #efabb4;
    border-radius: 5px;
    width: 130px;
    background: white;
    height: 30px;
    color: #d498a0;
}

label {
    font-size: 12px;
}

.content1 th, .content2 td {
    font-size: 12px;
}

.note {
    font-size: 12px;
    border: 1px solid #3283C7;
    background: #F3F9FF;
    width: 180px;
    height: auto;
    padding: 15px 0 20px 0;
    margin: 0 0 -40px 300px;
    position: relative;
}

.note p {
    margin-bottom: auto;
}

