.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.page-wap {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid gray;
}

.header {
    margin: 5%;
}

.title {
    text-align: center;
}

.content {
    padding: 50px 0 40px 11%;
}

.content p {
    font-size: 13px;
}

.content label {
    font-size: 13px;
}

.footer {
    margin: 25px;
    border: 1px solid #E5799F;
    border-radius: 5px;
    padding: 0 25px;
    height: 50px;
}

.footer p {
    color: #BD4C88;
    font-size: 17px;
    text-align: center;
    margin-top: auto;
}

.footer1 {
    margin: 25px;
    border-radius: 5px;
    padding: 0 25px;
    height: 50px;
    background: #D2D2D2;
    margin-bottom: 200px;
}

.footer1 p {
    color: white;
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #B02B5A;
    border-radius: 5px;
}


.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

